<header class="header">
  <div class="header-container">
    <div class="header_wrapper">

      <div class="header_menu-burger" (click) = "active = !active" [class.menu-link_opened] = "active">
        <span></span>
      </div>


      <app-logo>
        
      </app-logo>
      <nav class="header_menu" [class.menu_opened] = "active">
        <ul class="header_menu--items">
          <li class="header_menu--item" *ngFor="let menu_item of menu_items">
            <a href="#">
              {{ menu_item.item }}
            </a>
          </li>
        </ul>
      </nav>
      <div class="header_search">
        <input type="text" class="header_search--field">
        <div class="header_search--icon">
        </div>
      </div>
      <div class="header_separator">
        
      </div>
      <div class="header_g">
        <div class="header_g--icon">
          G
        </div>
        <div class="header_g--number">
          3 056
        </div>
      </div>
      <div class="header_profile">
        <div class="header_profile--icon">
        </div>
        <div class="header_profile--user-name">
          user name
        </div>
      </div>

      <div class="header_menu-burger--profile">
        <span></span>
      </div>
    </div>
  </div>
</header>

<div class="overlay" (click) = "active = !active" [class.overlay_visible] = "active"></div>

