@import './../../styles.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    &-container {
        margin: 0 auto;
        padding: 0 30px;
        max-width: 1230px;
    }

    &_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 24px;
    }

    

    &_menu--items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &_menu--item {
        list-style: none;
        margin-right: 60px;
        a {
            position: relative;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0.6px;
            color: $gray;
            text-transform: uppercase;
            text-decoration: none;
            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $gray;
                transition: all 0.5s;
            }

            &:hover {
                &:after {
                    width: 100%;
                    transition: all 0.5s;
                }
            }
        }
    }

    &_search {
        display: flex;
        flex-direction: row;
        align-items: center;
        &--field {
            height: 24px;
            width: 250px;
            margin-right: 20px;
            border: none;
            font-size: 14px;
            color: #a0a0a0;
        }
        &--icon {
            height: 16px;
            width: 16px;
            background: url('./../../assets/img/header/search-icon.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &_separator {
        margin: 0 30px;
        width: 1px;
        height: 32px;
        object-fit: contain;
        background-color: $light-gray;
    }

    &_g {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 30px;

        &--icon {
            margin-right: 8px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-image: linear-gradient(203deg, #fbd249, #f5a623);
            line-height: 24px;
            color: $white;
            text-align: center;
        }

        &--number {
            font-size: 16px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: 0.8px;
            color: $orange;
        }
    }

    &_profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 30px;
        &--icon {
            margin-right: 8px;
            height: 24px;
            width: 24px;
            background: url('./../../assets/img/header/profile-icon.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--user-name {
            font-size: 13px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $black;
        }
    }

    &_menu-burger, &_menu-burger--profile {
        span {
            position: relative;
            top: -7px;
            &:before, &:after {
                position: absolute;
                left: 0;
                content: '';
            }
            &:before {
                top: -6px;
            }

            &:after {
                bottom: -6px;
            }
        }
        span, span:before, span:after {
            display: inline-block;
            width: 14px;
            height: 2px;
            border-radius: 1px;
            background-color: $black;
        }
    }

    &_menu-burger--profile {
        width: 14px;
        height: 14px;
    }

    &_menu-burger {
        display: none;
        margin-right: 30px;
        width: 24px;
        height: 24px;
        &:hover {
            cursor: pointer;
        }
        span {
            top: -3px;
            &:before {
                top: -10px;
                transition: all 0.7s;
            }
            &:after {
                bottom: -10px;
                transition: all 0.7s;
            }
        }
        span, span:before, span:after {
            height: 3px;
            width: 24px;
        }
    }
}



.menu-link_opened {
    span {
        height: 0;
        &:before {
            top: -3px;
            transform: rotate(-45deg);
            transition: all 0.7s;
        }

        &:after {
            top: -3px;
            transform: rotate(45deg);
            transition: all 0.7s;
        }
    }
}


.overlay {
    display: none;
    // opacity: 0;
    // visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.7s;
}


.overlay_visible {
    // opacity: 1;
    display: block;
    visibility: visible;
    transition: all 0.7s;
    z-index: 10;
}






@media screen and (max-width: $xl) {
    .header_menu--item {
        margin-right: 40px;
    }
}

@media screen and (max-width: $lg) {
    .header {
        &_menu--item {
            margin-right: 25px;
        }
        &_search--field {
            width: 200px;
        }
        &_separator {
            margin: 0 20px;
        }
        &_g {
            margin-right: 20px;
        }
        &_profile {
            margin-right: 20px;
        }

    }
}

@media screen and (max-width: $md) {
    .header {
        &_menu-burger {
            display: block;
            position: relative;
            z-index: 100;
        }

        &_menu {
            position: fixed;
            top: 0;
            left: -300px;
            width: 200px;
            transition: all 0.7s;


            ul {
                flex-direction: column;
                padding-top: 48px;
                background-color: #fff;
                li {
                    position: relative;
                    margin-right: 0;
                    padding: 20px 0;
                    text-align: center;
                    &:not(:first-child) {
                        
                        &:after {
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: #63656c;
                        }
                    }
                }
            }

        }

        &_search--field {
            width: 350px;
        }

        &_profile {
            margin-right: 0;
        }

        &_menu-burger--profile {
            display: none;
        }
    }
}


@media screen and (max-width: 900px) {
    .header {
        &_search--field {
            width: 240px;
        }
    }
}

@media screen and (max-width: $sm) {
    .header {
        &_menu-burger {
            margin-right: 20px;
        }
        &_search--field {
            width: 100px;
        }
        &_separator {
            margin: 0 10px;
        }
        &_g {
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: $xs) {
    .header {
        &_search {
            display: none;
        }
        &_separator {
            display: none;
        }
    }
}


@media screen and (max-width: $xxs) {
    .header {
        &_g {
            display: none;
        }
    }
}




.menu_opened {
    left: 0;
    transition: all 0.7s;
}