<footer class="footer">
  <div class="container">
    <div class="footer_wrapper">
      <div class="footer_logo">

      </div>

      <div class="footer_content">
        <span class="footer_copyright">
            © 2018
        </span>
        <span class="footer_company-name">
          Company name
        </span>
        <a class="footer_terms">
            Terms of Service
        </a>
      </div>
      <div class="footer_soc-icons">
        <a class="twitter">

        </a>
        <a class="facebook">

        </a>
        <a class="vk">

        </a>
        <a class="you-tube">

        </a>
      </div>
    </div>
  </div>
</footer>